<!doctype html>
<html>
  <div id="header">
  <head>
	  <title>A Simple Kundenverwaltung Demo</title>
	  <meta charset="utf-8">
	  <!-- Styles -->
	  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  </div>
<div id="">
<body>
 
  <h1>A Simple Kundenverwaltungs Demo</h1>
 
  <div id="wrap">
    <div class="template">
      <h3>Kundenverwaltung Template:</h3>
 
      <textarea id="template">
		<h4>Kunden Info: {{customer.fullName}}</h4>
 
		<ul>
		  <li>Name: {{customer.name}}</li>
		  <li>Job: {{customer.jobTitle}}</li>
		  <li>Customer Nr: {{customer.id}}</li>
		</ul>
      </textarea>
 
    </div>
  </div>
 
</body>
</html>